
<!-- some of this code reused from Pandey et. al 2015 -->
<link rel="stylesheet" type="text/css" href="../static/main.css">
<style>
  img {
    display: block;
    margin: auto;
  }
</style>

<div class="container">
  <div class="padding" style="width: 900px; font-size: 18px;">
    

    	<h1>Debriefing form</h1>

<p>
  In this experiment you were shown a bar graph with a "cut axis" (also called a "truncated axis") - that is, the y-axis of the graph did not start at 0. You can see the effect of this by looking at the two graphs below.
</p>
<img src="../static/control.png" width=500px>
<strong style="text-align: center"><p>No Cut Axis. Y-axis starts at 0.00%</p></strong>
<img src="../static/distorted.png" width=500px>
<strong style="text-align: center"><p>Cut Axis. Y-axis starts at 81.00%</p></strong>
<p>
  This kind of chart is known to be misleading, since it can make the difference between two bars on a chart appear larger than the difference in the numbers used to create the chart. 
</p>
<p>
  We wanted to test whether showing people both charts would change their perception of the difference in access to safe drinking water between two towns. You may have seen both of the charts above, or only one of them. 
</p>
<p>
  Willowtown and Silvatown are both <strong> fictional </strong>, and the numbers on the chart are <strong> artificial </strong>. 
</p>
<p>
  It is always a good idea to carefully check the numbers on the axes of any chart that you read.
</p>
<p>
  If you wish to read more about this topic, you can consult the following resources:
  <ul>
    <li><a href="https://en.wikipedia.org/wiki/Misleading_graph" target="_blank">https://en.wikipedia.org/wiki/Misleading_graph</a></li>
    <li>Darrell Huff's book How to Lie with Statistics, Penguin, 1954 (ISBN 0-14-013629-0)</li>
  </ul>
</p>
  </p>
    <strong><p>Your participant number for the experiment is <span style="font-size: 24px; color: #36C;"> <strong id="user_id">!DPDV%20*14NH</strong></span></p></strong>
   <p class="padding">You can submit this on Amazon Mechanical Turk to complete the experiment and receive compensation.</p>
    <P>
    <strong> Please save a copy of the participant number for your records. </strong>
  </P>
    <P>
    To withdraw from the study you can choose not to submit your participant number, or you can email the researchers at jritchie@dgp.toronto.edu with your participant number and your request to withdraw (even after the study is completed). In both cases your data will be destroyed and not included in any published results of the experiment.
   </p>
   
  </div>
<div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
	$("#user_id").text(localStorage.user_id)
</script>