<link rel="stylesheet" type="text/css" href="/static/main.css">
<!-- some of this code reused from Pandey et. al 2015 -->

<style type="text/css">


	h1 {
		font-size: 20px;
	}

</style>

	
<div class="container">
<div class="padding">
      <p><strong>Through these questions, we want to know your personal characteristics. Please select the choices based on your agreement/disagreement with the statement.</strong></p>
    <p>&nbsp;</p>
    <p><strong>a)  I would prefer complex to simple problems. </strong></p>
    <table align="left" width="450" border="0" id="nfc_q1">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        </tr>
      <tr>
        <td width="90">
          <input type="radio" name="radio0" id="radio1" value="1">
        </td>
        <td width="90">
          <input type="radio" name="radio0" id="radio2" value="2">
        </td>
        <td width="90">
          <input type="radio" name="radio0" id="radio3" value="3">
        </td>
        <td width="90">
          <input type="radio" name="radio0" id="radio4" value="4">
        </td>
        <td width="90">
          <input type="radio" name="radio0" id="radio5" value="5">
        </td>
        </tr>
      <tr>
        <td>Strongly Disagree</td>
        <td>Somewhat Disagree</td>
        <td>Neutral</td>
        <td>Somewhat Agree</td>
        <td>Strongly Agree</td>
        </tr>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>b) I like to have the responsibility of handling a situation that requires a lot of thinking. </strong></p>
    <table align="left" width="450" border="0" id="nfc_q2">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <td width="90">
          <input type="radio" name="radio1" id="radio6" value="1">
        </td>
        <td width="90">
          <input type="radio" name="radio1" id="radio7" value="2">
        </td>
        <td width="90">
          <input type="radio" name="radio1" id="radio8" value="3">
        </td>
        <td width="90">
          <input type="radio" name="radio1" id="radio9" value="4">
        </td>
        <td width="90">
          <input type="radio" name="radio1" id="radio10" value="5">
        </td>
      </tr>
      <tr>
        <td>Strongly Disagree</td>
        <td>Somewhat Disagree</td>
        <td>Neutral</td>
        <td>Somewhat Agree</td>
        <td>Strongly Agree</td>
      </tr>
  </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>c) Thinking is not my idea of fun.</strong></p>
    <table align="left" width="450" border="0" id="nfc_q3">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <td width="90">
          <input type="radio" name="radio2" id="radio11" value="1">
        </td>
        <td width="90">
          <input type="radio" name="radio2" id="radio12" value="2">
        </td>
        <td width="90">
          <input type="radio" name="radio2" id="radio13" value="3">
        </td>
        <td width="90">
          <input type="radio" name="radio2" id="radio14" value="4">
        </td>
        <td width="90">
          <input type="radio" name="radio2" id="radio15" value="5">
        </td>
      </tr>
      <tr>
        <td>Strongly Disagree</td>
        <td>Somewhat Disagree</td>
        <td>Neutral</td>
        <td>Somewhat Agree</td>
        <td>Strongly Agree</td>
      </tr>
  </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><br>
      <strong>d) I would rather do something that requires little thought than something that is sure to challenge my thinking abilities.</strong></p>
    <table align="left" width="450" border="0" id="nfc_q4">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <td width="90">
          <input type="radio" name="radio3" id="radio16" value="1">
        </td>
        <td width="90">
          <input type="radio" name="radio3" id="radio17" value="2">
        </td>
        <td width="90">
          <input type="radio" name="radio3" id="radio18" value="3">
        </td>
        <td width="90">
          <input type="radio" name="radio3" id="radio19" value="4">
        </td>
        <td width="90">
          <input type="radio" name="radio3" id="radio20" value="5">
        </td>
      </tr>
      <tr>
        <td>Strongly Disagree</td>
        <td>Somewhat Disagree</td>
        <td>Neutral</td>
        <td>Somewhat Agree</td>
        <td>Strongly Agree</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><br>
      <strong>e) I try to anticipate and avoid situations where there is likely a chance I will have to think in depth about something.</strong></p>
    <table align="left" width="450" border="0" id="nfc_q5">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <td width="90">
          <input type="radio" name="radio4" id="radio21" value="1">
        </td>
        <td width="90">
          <input type="radio" name="radio4" id="radio22" value="2">
        </td>
        <td width="90">
          <input type="radio" name="radio4" id="radio23" value="3">
        </td>
        <td width="90">
          <input type="radio" name="radio4" id="radio24" value="4">
        </td>
        <td width="90">
          <input type="radio" name="radio4" id="radio25" value="5">
        </td>
      </tr>
      <tr>
        <td>Strongly Disagree</td>
        <td>Somewhat Disagree</td>
        <td>Neutral</td>
        <td>Somewhat Agree</td>
        <td>Strongly Agree</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><br>
      <strong>f) I find satisfaction in deliberating hard and for long hours. </strong></p>
    <table align="left" width="450" border="0" id="nfc_q6">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <td width="90">
          <input type="radio" name="radio5" id="radio26" value="1">
        </td>
        <td width="90">
          <input type="radio" name="radio5" id="radio27" value="2">
        </td>
        <td width="90">
          <input type="radio" name="radio5" id="radio28" value="3">
        </td>
        <td width="90">
          <input type="radio" name="radio5" id="radio29" value="4">
        </td>
        <td width="90">
          <input type="radio" name="radio5" id="radio30" value="5">
        </td>
      </tr>
      <tr>
        <td>Strongly Disagree</td>
        <td>Somewhat Disagree</td>
        <td>Neutral</td>
        <td>Somewhat Agree</td>
        <td>Strongly Agree</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><br>
      <strong>g) I only think as hard as I have to.</strong></p>
    <table align="left" width="450" border="0" id="nfc_q7">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <td width="90">
          <input type="radio" name="radio6" id="radio31" value="1">
        </td>
        <td width="90">
          <input type="radio" name="radio6" id="radio32" value="2">
        </td>
        <td width="90">
          <input type="radio" name="radio6" id="radio33" value="3">
        </td>
        <td width="90">
          <input type="radio" name="radio6" id="radio34" value="4">
        </td>
        <td width="90">
          <input type="radio" name="radio6" id="radio35" value="5">
        </td>
      </tr>
      <tr>
        <td>Strongly Disagree</td>
        <td>Somewhat Disagree</td>
        <td>Neutral</td>
        <td>Somewhat Agree</td>
        <td>Strongly Agree</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><br>
      <strong>h) I prefer to think about small, daily projects to long-term ones.</strong></p>
    <table align="left" width="450" border="0" id="nfc_q8">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <td width="90">
          <input type="radio" name="radio7" id="radio36" value="1">
        </td>
        <td width="90">
          <input type="radio" name="radio7" id="radio37" value="2">
        </td>
        <td width="90">
          <input type="radio" name="radio7" id="radio38" value="3">
        </td>
        <td width="90">
          <input type="radio" name="radio7" id="radio39" value="4">
        </td>
        <td width="90">
          <input type="radio" name="radio7" id="radio40" value="5">
        </td>
      </tr>
      <tr>
        <td>Strongly Disagree</td>
        <td>Somewhat Disagree</td>
        <td>Neutral</td>
        <td>Somewhat Agree</td>
        <td>Strongly Agree</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><br>
      <strong>i) I like tasks that require little thought once I&rsquo;ve learned them.</strong></p>
    <table align="left" width="450" border="0" id="nfc_q9">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <td width="90">
          <input type="radio" name="radio8" id="radio41" value="1">
        </td>
        <td width="90">
          <input type="radio" name="radio8" id="radio42" value="2">
        </td>
        <td width="90">
          <input type="radio" name="radio8" id="radio43" value="3">
        </td>
        <td width="90">
          <input type="radio" name="radio8" id="radio44" value="4">
        </td>
        <td width="90">
          <input type="radio" name="radio8" id="radio45" value="5">
        </td>
      </tr>
      <tr>
        <td>Strongly Disagree</td>
        <td>Somewhat Disagree</td>
        <td>Neutral</td>
        <td>Somewhat Agree</td>
        <td>Strongly Agree</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><br>
      <strong>j) The idea of relying on thought to make my way to the top appeals to me. </strong></p>
    <table align="left" width="450" border="0" id="nfc_q10">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <td width="90">
          <input type="radio" name="radio9" id="radio46" value="1">
        </td>
        <td width="90">
          <input type="radio" name="radio9" id="radio47" value="2">
        </td>
        <td width="90">
          <input type="radio" name="radio9" id="radio48" value="3">
        </td>
        <td width="90">
          <input type="radio" name="radio9" id="radio49" value="4">
        </td>
        <td width="90">
          <input type="radio" name="radio9" id="radio50" value="5">
        </td>
      </tr>
      <tr>
        <td>Strongly Disagree</td>
        <td>Somewhat Disagree</td>
        <td>Neutral</td>
        <td>Somewhat Agree</td>
        <td>Strongly Agree</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong><br>
      k) I really enjoy a task that involves coming up with new solutions to problems. </strong></p>
    <table align="left" width="450" border="0" id="nfc_q11">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <td width="90">
          <input type="radio" name="radio10" id="radio51" value="1">
        </td>
        <td width="90">
          <input type="radio" name="radio10" id="radio52" value="2">
        </td>
        <td width="90">
          <input type="radio" name="radio10" id="radio53" value="3">
        </td>
        <td width="90">
          <input type="radio" name="radio10" id="radio54" value="4">
        </td>
        <td width="90">
          <input type="radio" name="radio10" id="radio55" value="5">
        </td>
      </tr>
      <tr>
        <td>Strongly Disagree</td>
        <td>Somewhat Disagree</td>
        <td>Neutral</td>
        <td>Somewhat Agree</td>
        <td>Strongly Agree</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><br>
      <strong>l) Learning new ways to think doesn&rsquo;t excite me very much.</strong></p>
    <table align="left" width="450" border="0" id="nfc_q12">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <td width="90">
          <input type="radio" name="radio11" id="radio56" value="1">
        </td>
        <td width="90">
          <input type="radio" name="radio11" id="radio57" value="2">
        </td>
        <td width="90">
          <input type="radio" name="radio11" id="radio58" value="3">
        </td>
        <td width="90">
          <input type="radio" name="radio11" id="radio59" value="4">
        </td>
        <td width="90">
          <input type="radio" name="radio11" id="radio60" value="5">
        </td>
      </tr>
      <tr>
        <td>Strongly Disagree</td>
        <td>Somewhat Disagree</td>
        <td>Neutral</td>
        <td>Somewhat Agree</td>
        <td>Strongly Agree</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong><br>
      m) I prefer my life to be filled with puzzles that I must solve. </strong></p>
    <table align="left" width="450" border="0" id="nfc_q13">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <td width="90">
          <input type="radio" name="radio12" id="radio61" value="1">
        </td>
        <td width="90">
          <input type="radio" name="radio12" id="radio62" value="2">
        </td>
        <td width="90">
          <input type="radio" name="radio12" id="radio63" value="3">
        </td>
        <td width="90">
          <input type="radio" name="radio12" id="radio64" value="4">
        </td>
        <td width="90">
          <input type="radio" name="radio12" id="radio65" value="5">
        </td>
      </tr>
      <tr>
        <td>Strongly Disagree</td>
        <td>Somewhat Disagree</td>
        <td>Neutral</td>
        <td>Somewhat Agree</td>
        <td>Strongly Agree</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><br>
      <strong>n) The notion of thinking abstractly is appealing to me. </strong></p>
    <table align="left" width="450" border="0" id="nfc_q14">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <td width="90">
          <input type="radio" name="radio13" id="radio66" value="1">
        </td>
        <td width="90">
          <input type="radio" name="radio13" id="radio67" value="2">
        </td>
        <td width="90">
          <input type="radio" name="radio13" id="radio68" value="3">
        </td>
        <td width="90">
          <input type="radio" name="radio13" id="radio69" value="4">
        </td>
        <td width="90">
          <input type="radio" name="radio13" id="radio70" value="5">
        </td>
      </tr>
      <tr>
        <td>Strongly Disagree</td>
        <td>Somewhat Disagree</td>
        <td>Neutral</td>
        <td>Somewhat Agree</td>
        <td>Strongly Agree</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><br>
      <strong>o) I would prefer a task that is intellectual, difficult, and important to  one that is somewhat important but does not require much thought. </strong></p>
    <table align="left" width="450" border="0" id="nfc_q15">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <td width="90">
          <input type="radio" name="radio14" id="radio71" value="1">
        </td>
        <td width="90">
          <input type="radio" name="radio14" id="radio72" value="2">
        </td>
        <td width="90">
          <input type="radio" name="radio14" id="radio73" value="3">
        </td>
        <td width="90">
          <input type="radio" name="radio14" id="radio74" value="4">
        </td>
        <td width="90">
          <input type="radio" name="radio14" id="radio75" value="5">
        </td>
      </tr>
      <tr>
        <td>Strongly Disagree</td>
        <td>Somewhat Disagree</td>
        <td>Neutral</td>
        <td>Somewhat Agree</td>
        <td>Strongly Agree</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><br>
      <strong>p) I feel relief rather than satisfaction after completing a task that required a lot of mental effort.</strong></p>
    <table align="left" width="450" border="0" id="nfc_q16">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <td width="90">
          <input type="radio" name="radio15" id="radio76" value="1">
        </td>
        <td width="90">
          <input type="radio" name="radio15" id="radio77" value="2">
        </td>
        <td width="90">
          <input type="radio" name="radio15" id="radio78" value="3">
        </td>
        <td width="90">
          <input type="radio" name="radio15" id="radio79" value="4">
        </td>
        <td width="90">
          <input type="radio" name="radio15" id="radio80" value="5">
        </td>
      </tr>
      <tr>
        <td>Strongly Disagree</td>
        <td>Somewhat Disagree</td>
        <td>Neutral</td>
        <td>Somewhat Agree</td>
        <td>Strongly Agree</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong><br>
      q) It's enough for me that something gets the job done; I don&rsquo;t care how or why it works.</strong></p>
    <table align="left" width="450" border="0" id="nfc_q17">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <td width="90">
          <input type="radio" name="radio16" id="radio81" value="1">
        </td>
        <td width="90">
          <input type="radio" name="radio16" id="radio82" value="2">
        </td>
        <td width="90">
          <input type="radio" name="radio16" id="radio83" value="3">
        </td>
        <td width="90">
          <input type="radio" name="radio16" id="radio84" value="4">
        </td>
        <td width="90">
          <input type="radio" name="radio16" id="radio85" value="5">
        </td>
      </tr>
      <tr>
        <td>Strongly Disagree</td>
        <td>Somewhat Disagree</td>
        <td>Neutral</td>
        <td>Somewhat Agree</td>
        <td>Strongly Agree</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><br>
      <strong>r) I usually end up deliberating about issues even when they do not affect me personally. </strong></p>
    <table align="left" width="450" border="0" id="nfc_q18">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <td width="90">
          <input type="radio" name="radio17" id="radio86" value="1">
        </td>
        <td width="90">
          <input type="radio" name="radio17" id="radio87" value="2">
        </td>
        <td width="90">
          <input type="radio" name="radio17" id="radio88" value="3">
        </td>
        <td width="90">
          <input type="radio" name="radio17" id="radio89" value="4">
        </td>
        <td width="90">
          <input type="radio" name="radio17" id="radio90" value="5">
        </td>
      </tr>
      <tr>
        <td>Strongly Disagree</td>
        <td>Somewhat Disagree</td>
        <td>Neutral</td>
        <td>Somewhat Agree</td>
        <td>Strongly Agree</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <table width="421">
      
      <tr>
      <td width="150">
        <h3>&nbsp;</h3></td>
      <td width="102"><input type="submit" onclick="advance()" value="Proceed"/></td>
      <td width="153">&nbsp;</td>
    </tr>
</table>
<div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
 var session_start_time = new Date()

  function advance() {

    var end_time = new Date()

    localStorage.setItem("nfc_time", (end_time - session_start_time)/1000 + "s")

    for (i=0;i<18;i++) 
    {
      id = "nfc_q" + (i+1); 
      let val = $('#' + id + ' tr td input:checked').val()
      if (val) {
        localStorage.setItem(id,val);
      }
      else {
        alert("Please answer all questions to proceed.")
        return;
      }
    }

    $.ajax
    ({
        type: "POST",
        url: 'https://dgp-vis-mt.herokuapp.com/save/',
        dataType: 'json',
        contentType: 'application/json',
        async: false,
        data: JSON.stringify(localStorage)
    })

    window.location.href = "../finish"
  }
</script>