
<!-- some of this code reused from Pandey et. al 2015 -->
<link rel="stylesheet" type="text/css" href="/static/main.css">

<style type="text/css">
	

</style>

<body>
<div class="container">
<h1>Demographic Questions</h1>
<p>In which year were you born?</p>
<p align="left">
<input type="text" id="birth_year" placeholder="YYYY">
</p>
<p>Select your gender</p>
<p align="left">
	<form id="gender">
      <input type="radio" name="radio1" id="radio1" value="Male">
      <label for="radio">Male </label>
      <br>
      <input type="radio" name="radio1" id="radio2" value="Female">
      <label for="radio2">Female </label>
      <br>
      <input type="radio" name="radio1" id="radio3" value="Other">
      <label for="radio3">Other</label>
      <input type="text"  id="specify" placeholder="Please Specify">
      <br>
      <input type="radio" name="radio1" id="radio4" value="Prefer not to answer">
      <label for="radio4">Prefer not to answer</label>
  	</form>
    </p>

<p>Select your education level</p>
<p align="left">
	  <form id="education">
	      <input type="radio" name="radio2" id="radio8" value="Primary">
	      <label for="radio8">Primary education<br></label>
	      
	      <input type="radio" name="radio2" id="radio9" value="Secondary">
	      
	      <label for="radio9">Secondary education</label>
 	 
      <br>
	  <input type="radio" name="radio2" id="radio5" value="Undergraduate">
      <label for="radio5">Undergraduate</label><br>
      <input type="radio" name="radio2" id="radio6" value="Graduate">
      <label for="radio6">Masters</label><br>
      <input type="radio" name="radio2" id="radio7" value="Doctorate">
      <label for="radio7">Doctorate</label>
      </form>

<p>Do you have normal or corrected-to-normal (e.g. glasses, contact lens) vision?</p>
<form id="vision">
	      <input type="radio" name="radio3" id="radio10" value="yes">
	      <label for="radio10">Yes<br></label>
	      
	      <input type="radio" name="radio3" id="radio11" value="no">
	      <label for="radio11">No</label>
 	 

      </form>

</p>
<input type="submit" value="Proceed" onclick="advance()"></input>

<div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
 var session_start_time = new Date()

  function advance() {
    	var end_time = new Date()
    	localStorage.setItem("userinfo_time", (end_time - session_start_time)/1000 + "s")
    	let birth_year = $('#birth_year').val()
		if (birth_year) {
			if (isNaN(birth_year) ||  birth_year.toString().length != 4)
			{
				alert("Birth year is not a valid 4-digit number");
				return;
			}

			localStorage.setItem("birth_year",birth_year);
		}
		else {
			localStorage.setItem("birth_year","NoAnswer");
			
		}

		let education = $('#education > input:checked').val()
		if (education) {
			localStorage.setItem("education",education);
		}
		else {
			localStorage.setItem("education","NoAnswer");
			
		}

		let vision = $('#vision > input:checked').val()
		if (vision) {
			localStorage.setItem("vision",vision);
		}
		else {
			localStorage.setItem("vision","NoAnswer");
			
		}

		let gender = $('#gender > input:checked').val()
		if (gender) {
			if (gender == "Other") {
				gender = gender + "(" + $("#specify").val() + ")"
			}
			localStorage.setItem("gender",gender);
		}
		else {
			localStorage.setItem("gender","NoAnswer");
		}

		// if it gets to this point they have answered all the mandatory questions / birth year is in proper format.
		window.location.href = "../visab"
		
	}
</script>